.footer{
    background-color: rgb(0, 0, 12);
    height: 30vh;
    text-align: center;

    .obrigado{
        margin-bottom: 0;
        margin-top: 44px;
    }

    
}

.logo-footer { 
    margin-top: 16px;
    margin-left: 125px;
    

   
    

.linkedin{
    background-color: rgb(0, 0, 12);
    height: 32px;
    margin-right: 8px;

}

.github{
   
    height: 32px;
    margin-right: 8px;

}
.whatsapp{
   
    height: 32px;
    margin-right: 8px;

}

}

.seta-esquerda{
    display: flex;
    align-items: center;
}


.seta-direita{
    display: flex;
    align-items: center;
    justify-content: end;
}
.seta{
   

   height: 100px;
}