

.sobre-section{
    background-color: #010b20;
    padding-top: 36px;
    


.descricao-sobre{
    padding: 0 5%;
    margin-bottom: 100px;
        
}
    
.sobre-site{
    margin-top: 10px;
    letter-spacing: 3px;
    
}

.criacao{
    
    font-weight: 400;
    color: rgb(255, 58, 58);
    letter-spacing: 10px;


   

}


p{
    font-size: 16px;
    color: #b9b9b9;
    margin-top: 36px;
}

span{
    color: red;
    font-weight: 500;
}



}

.logo{
    margin-right: 24px;
    height: 56px;
    width: 64px;
    
}

.icons{
    display: flex;
    margin-left: 0px;
    margin-top: 40px;

}

.cadeiras{
    height: 10x;
    width: 600px;
}



