@import "./navBar";
@import "./hero";
@import './sobre';
@import './footer';
@import './filmes';

*{
    color: aliceblue;
    font-family: 'Poppins';
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}